extends ../panels/layout
include ../components/form
  
block content

  .container.content

    h1 Add Review
    

    form#review_form
      //- Form Group with parameters (LabelName, ID, input, type, value)
      +form_group("Title", "title", "input", "text", "", "review-form-group")
      +form_group("Comment", "comment", "input", "text", "", "review-form-group")
      +form_group("Stars", "stars", "input", "text", "", "review-form-group")
      button.btn.btn-purple.create-review(type="submit") Save
      
  script(src='/javascripts/review.js')