mixin picture
    
  .row.restaurant-pictures
      each image in restaurant.image
        .col-md-6
          .picture-container
            img.picture(src="/"+image)

  .row
    br


mixin picture_manager
  
  .row.restaurant-pictures
    each image in restaurant.image
      .col-md-6.picture-container
        button.btn-delete-picture
          i.fas.fa-times.delete-icon(data-id=image, name=restaurant._id)
        img.picture(src="/"+image)


 


