mixin review_rest
 


  //- each review in reviews
  //-   if review.restaurant_id == restaurant._id
  //-     p review restaurant id #{review.restaurant_id}
  //-     p restaurant._id #{restaurant._id}
  //-     -sum=sum+review.stars;
  //- p=sum/reviews.length
  //- -var n = 0;
  //-   while n< Math.round(sum/reviews.length, 10)
  //-     i.fas.fa-star.heading-1.icon
  //-     - n++