mixin search
  .input-group
    input.form-control.search-form(id="form-search1" type='text', placeholder='Restaurant name or location')
    span.input-group-btn
      button.btn.btn-search1 
        p.link-font Find restaurants