extends layout
  
block content
  h1 #{title}
  form(method="POST", action="/restaurants/edit/"+restaurant._id)
    #form-group
      label Name:
      input.form-control(name="name", type="text", value=restaurant.name)
    #form-group
      label Cousine:
      input.form-control(name="cousine", type="text", value=restaurant.cousine)
    #form-group
      label Description:
      textarea.form-control(name="description")=restaurant.description
    br
    input.btn.btn-primary(type="submit", value="Submit")
      