html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    title NodeApp
  body
    .cover-container.d-flex.w-100.p-3.mx-auto.flex-column(style='max-width:50em;')
      header.masthead.mb-auto
        .inner
          h3.masthead-brand FancyFood
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href='/') Home
            a.nav-link(href='/restaurants/add') Add Restaurant

      .container(style='margin-top:50px;')
        main.inner.cover(role='main')
          block content
          br
          hr
        footer.mastfoot.mt-auto
                .inner
                  p
                    | Project 
                    a(href='/') Hungry Games
                    | , by 
                    a(href='https://www.facebook.com/sebastian.sas.14') AndreeaJS Team
                    | .

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
