extends layout
  
block content
  h1= restaurant.name
  h5 Cousine: #{restaurant.cousine}
  p= restaurant.description
  hr
  .col-md-10
    .col-md-5
      a.btn.btn-info(href='/restaurant/edit/'+restaurant._id) Edit
    .col-md-5
      a.btn.btn-danger.delete-restaurant(href='#', data-id=restaurant._id) Delete