@import "./variables"

label.form-label
  margin: 5px
  font-size: 12px

.jumbotron
  height: auto
  padding: 35px

.vertical-center
  display: flex
  align-items: center

#password-criteria
  margin: 0
  font-size: 12px
  display: block
  border-radius: 0px 0px 6px 6px
  border: 1px solid transparent 
  border-top: transparent
  transition: 0.2s linear
  &:focus
    border: 1px solid transparent !important

li.password-condition
  list-style-type: none

.restaurant-form-group, .review-form-group
  margin-bottom: 10px
  
.compressed
  display: inline-block
  width: 45%
  margin-right: 5%

span.mini
  display: inline-block
  width: 20%
  margin-right: 5%

span.maxy 
  display: inline-block
  width: 70%
  margin-right: 5%

.user-form-group
  margin-bottom: 20px

.password-form-group
  margin-top: 20px

#upload_form
  .btn.btn-primary
    width: 100%

#upload-photo
  color: white
  margin-bottom: 10px
  border-radius: 20px

.btn-upload
  background-color: $color-violet
  color: white
  cursor: pointer

