extends ../panels/layout
include ../components/form
  
block content

  .container.content

    h1 Log In

    br

    form
      //- Form Group with parameters (LabelName, ID, input, type, value)
      +form_group("Email", "email", "input", "text")
      +form_group("Password", "password", "input", "password")
      a.btn.btn-save.login Log In
    
    li.list-group-item
      .row
        p.signup-comment Don't have an account?
        a.signup-link(href='/users/signup') Register