extends ../panels/layout
include ../components/form
  
block content

  .container.content

    h1 Log In

    br

    form#login_form
      //- Form Group with parameters (LabelName, ID, input, type, value, form_group_name)
      +form_group("Email", "email", "input", "text", "", "user-form-group")
      +form_group("Password", "password", "input", "password", "", "user-form-group")
      button.btn.btn-primary(type="submit") Log In
    
    li.list-group-item
      .row
        p.signup-comment Don't have an account?
        a.signup-link(href='/users/signup') Register

  script(src='/javascripts/login.js')
