extends ../panels/layout
include ../components/form
  
block content

  .container.content

    .row.title
      .col-md-12.text-center

        h1.title Registration Form

    .row
      .col-md-7
        form#registration_form

          //- Form Group with parameters (LabelName, ID, input, type, value)
          h4.form-label Account Details
          +form_group("Name", "name", "input", "text", "", "user-form-group")
          +form_group("Email", "email", "input", "text", "", "user-form-group")
          +form_group("Password", "password", "input", "password", "", "password-form-group")
          +form_group("Confirm Password", "c-password", "input", "password", "", "password-form-group")
          #form-group(class="password-form-group")
            input(id='admin', type='checkbox', data-toggle='toggle', style='width=100px; heigth:100px;' data-on="Yes" data-off="No")
            label.form-label Are you an administrator? 
          br
          button.btn.btn-primary(type="submit") Register

      .col-md-5
        h4.form-label Password Criteria
        .jumbotron.vertical-center  
          #password-criteria
            p.info Your password must fullfil the following criteria:
              li.password-condition(href='#about', id='password-condition-uppercase') At least 1 uppercase letter
              li.password-condition(href='#about', id='password-condition-lowercase') At least 1 lowercase letter
              li.password-condition(href='#about', id='password-condition-digit') At least 1 digit
              li.password-condition(href='#about', id='password-condition-special') At least 1 special character
              li.password-condition(href='#about', id='password-condition-length') At least 8 characters in length

    #flash-message
      .flash-box
  script(src='/javascripts/registration.js')
