extends ../panels/layout
include ../components/form
  
block content

  .container.content

    != messages('panels/flash', locals)

    h1 #{title}

    form(method="POST", action="/restaurants/add")
      
      #form-group
        label Name:
        input.form-control(name="name", type="text")
      #form-group
        label Address Line 1:
        input.form-control(name="addressLine1", type="text")
      #form-group
        label Address Line 2:
        input.form-control(name="addressLine2", type="text")
      #form-group
        label City:
        input.form-control(name="city", type="text")
      #form-group
        label County:
        input.form-control(name="county", type="text")
      #form-group
        label Country:
        input.form-control(name="country", type="text")
      #form-group
        label Postcode:
        input.form-control(name="postcode", type="text")
      #form-group
        label Phone:
        input.form-control(name="phone", type="number")
      #form-group
        label Website:
        input.form-control(name="website", type="text")
      #form-group
        label Cuisine:
        input.form-control(name="cuisine", type="text")
      #form-group
        label Description:
        textarea.form-control(name="description")

      input.btn.btn-purple.create-restaurant(type="submit")

      
    
      //- +form_group("SUBMIT", "description","input", "submit", "", "restaurant-form-group")