extends ../panels/layout
include ../components/form
  
block content

  .container.content

    h1 #{title}

    form(method="POST", action="/restaurants/add")
      //- Form Group with parameters (LabelName, ID, input, type, value)
      +form_group("Name", "name", "input", "text", "", "restaurant-form-group")
      +form_group("Address Line 1", "addressLine1", "input", "text", "", "restaurant-form-group")
      +form_group("Address Line 2", "addressLine2", "input", "text", "", "restaurant-form-group")
      +form_group("City", "city", "input", "text", "", "restaurant-form-group")
      +form_group("County", "county","input", "text", "", "restaurant-form-group")
      +form_group("Country", "country","input", "text", "", "restaurant-form-group")
      +form_group("Postcode", "postcode","input", "text", "", "restaurant-form-group")
      +form_group("Phone", "phoneNumber","input", "number", "", "restaurant-form-group")
      +form_group("Website", "website","input", "text", "", "restaurant-form-group")
      +form_group("Cuisine", "cuisine","input", "text", "", "restaurant-form-group") 
      +form_group("Description", "description","textarea", "", "", "restaurant-form-group")
      //- +form_group("SUBMIT", "description","input", "submit", "", "restaurant-form-group")
      button.btn.btn-purple.create-restaurant(type="submit") Save
      