extends ../panels/layout
  
block content

  .container.content

    h1 #{title}
    form
      #form-group
        label Name:
        input.form-control(id="name",name="name", type="text")
      #form-group
        label Cousine:
        input.form-control(id="cousine",name="cousine", type="text")
      #form-group
        label Description:
        textarea.form-control(id="description",name="description")
      br
      a.btn.btn-save.create-restaurant Save
      