extends ../panels/layout
include ../components/form
  
block content

  .container.content

    h1 #{title}

    form
      //- Form Group with parameters (LabelName, ID, input, type, value)
      +form_group("Name", "name", "input", "text")
      +form_group("Address Line 1", "addressLine1", "input", "text")
      +form_group("Address Line 2", "addressLine2", "input", "text")
      +form_group("City", "city", "input", "text")
      +form_group("County", "county","input", "text")
      +form_group("Country", "country","input", "text")
      +form_group("Postcode", "postcode","input", "text")
      +form_group("Phone", "phoneNumber","input", "number")
      +form_group("Website", "website","input", "text")
      +form_group("Cuisine", "cuisine","input", "text")
      +form_group("Description", "description","textarea")
      a.btn.btn-save.create-restaurant Save
      