extends ../panels/layout
  
block content

  .container.content

    h1 #{title}

    form
      #form-group
        label Name:
        input.form-control(id="name",name="name", type="text")
      #form-group
        label Address Line 1:
        input.form-control(id="addressLine1",name="addressLine1", type="text")
      #form-group
        label Address Line 2:
        input.form-control(id="addressLine2",name="addressLine2", type="text")
      #form-group
        label City:
        input.form-control(id="city",name="city", type="text")
      #form-group
        label County:
        input.form-control(id="county",name="county", type="text")
      #form-group
        label Country:
        input.form-control(id="country",name="country", type="text")
      #form-group
        label Postcode (ZIP code):
        input.form-control(id="postcode",name="postcode", type="text")
      #form-group
        label Phone number:
        input.form-control(id="phoneNumber",name="phoneNumber", type="text")
      #form-group
        label Website:
        input.form-control(id="website",name="website", type="text")
      #form-group
        label Cousine:
        input.form-control(id="cuisine",name="cuisine", type="text")
      #form-group
        label Description:
        textarea.form-control(id="description",name="description")
      br
      a.btn.btn-save.create-restaurant Save
      