extends ../panels/layout
include ../components/restaurant
include ../components/review
  
block content

  .container.content

    +restaurant_info

    br
    br
    
    .row.restaurant-title
      .col-md-6.col-restaurant-title
        h2 Reviews
      .col-md-6.col-restaurant-title
        a.btn.btn-purple.float-right(href=restaurant._id + "/reviews/add") Add Review   
    hr

    +reviews

    

    