extends ../panels/layout
include ../components/restaurant
include ../components/review
  
block content

  .container.content

    +restaurant_info

    br

    h2 Reviews

    hr

    br

    +reviews

    a.nav-link(href=restaurant._id + "/reviews/add") Add Review   

    