extends ../panels/layout
include ../components/restaurant
include ../components/review
  
block content

  .container.content

    +restaurant_info

    br
    br
    
    h2.title.text-center(style="font-weight:bold;") Overview
    hr(style="margin-bottom:50px;")
    
    .row
      .col-md-6
        .row.restaurant-title
          .col-md-12.col-restaurant-title.text-center
            h3 Reviews
        .row.restaurant-title
        hr
        +reviews_info

      .col-md-6
        .row.restaurant-title
          .col-md-12.text-center
            h3 Location
        hr
        #map(style="width: 100%; height: 400px;")
    br
    .row
      .col-md-10
        .row.restaurant-title
          .col-md-6
            h3 Reviews
          .col-md-6
            a.btn.btn-purple.float-right(href=restaurant._id + "/reviews/add") Add Review   
        hr
        
        +reviews
