extends ../panels/layout
include ../components/restaurant


block content
      
  .container.content
  
    br

    h1 #{title} 
      
    hr
    p Upload new photos
    form(action="/restaurants/upload/"+id, name="fileUploadForm", enctype='multipart/form-data', method="POST")
      input(class="form-control",type='file', name='restaurantImage', multiple)
      input(class="form-control",type='submit', value='Upload Photo', id="upload-photo")

    .row
      p Manage uploaded photos  
      .row.restaurant-pictures

        each val in restaurant.restaurantImage
          .resturant-image(id="restaurant-image_"+val, name=id)
            a.btn.btn-red.float-right.delete-restaurantImage(href='#'+val, data-id=val, name=id) Delete
        


  



