extends ../panels/layout
include ../components/restaurant


block content
      
  .container.content
  
    br

    h1 #{title} 
    p #{id}

     .row.restaurant-pictures
      each val in restaurant.restaurantImage
        .resturant-image(id="restaurant-image_"+val)
          a.btn.btn-red.float-right.delete-restaurantImage(href='#'+val, data-id=val) Delete
      
    hr
    form(action="/restaurants/upload/"+id, name="fileUploadForm", enctype='multipart/form-data', method="POST")
      input(type='file', name='restaurantImage', multiple)
      input(type='submit', value='Upload Photo', id="upload-photo")
      
    //- br
    //- a.btn.btn-success.upload-photo(data-id=restaurant._id) Upload
      


  



