extends ../panels/layout
include ../components/restaurant


block content
      
  .container.content
  
    br

    h1 #{title} for  
      a.simple-link(href="/restaurants/" + restaurant.id) #{restaurant.name}
      
    hr
    p Upload Pictures

    form#upload_form
      label.btn.btn-primary
        .upload-message Select Pictures
        input(class="form-control" id="file" type='file' name='image' multiple,  style='visibility: hidden; height: 0px;')
        input(disabled='', class="form-control" type='submit' value='' id="upload-photo")
  
    p Picture Manager

    +picture_manager

  script(src='/javascripts/upload.js')